<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material de Apoyo</title>
    <link rel="stylesheet" href="css/informativo.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Menú lateral con hamburguesa -->
    <input type="checkbox" id="menu-toggle" style="display: none;">
    <label for="menu-toggle" class="menu-icon"><i class="fas fa-bars"></i></label>
    <aside class="sidebar">
        <div class="logo-section">
            <img src="/assets/logo.png" alt="Foto de perfil">
            <p>Mi Perfil</p>
        </div>
        <ul class="menu-list">
            <li><a href="/perfil_paciente"><i class="fas fa-user"></i> Mi Perfil</a></li>
            <li><a href="/agenda"><i class="fas fa-calendar-alt"></i> Agenda</a></li>
            <li><a href="/f_paci"><i class="fas fa-edit"></i> Editar perfil</a></li>
            <li><a href="/informativo"><i class="fas fa-user-friends"></i> Informativo</a></li>
            <li><a href="/chat"><i class="fas fa-comments"></i> Atencion chat</a></li>
            <li id="gestionCargas" style="display: none;">
                <a href="/cargas"><i class="fas fa-folder-open"></i> Gestión de cargas</a>
            </li>
            <li><a href="/home"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        </ul>
    </aside>

    <!-- Contenido Principal -->
    <main class="content">
        <h1>Material de Apoyo</h1>
        <div class="card-container">
            <!-- Tarjeta 1 -->
            <div class="card">
                <img src="/assets/bingo.jpg" alt="Bingo">
                <div class="card-content">
                    <h2>Bingo</h2>
                    <p>Memorice y bingo de categorías semánticas básicas ( Actividad para aumentar habilidades cognitivas básicas tales como atención, memoria a corto plazo y a largo plazo, evocación categorial. Luego de realizar el memorice se debe continuar con actividad de bingo).</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/bingo.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="card">
                <img src="/assets/discr.jpg" alt="Discriminacion auditiva">
                <div class="card-content">
                    <h2>Discriminacion auditiva</h2>
                    <p>Discriminación auditiva , actividad de discriminación auditiva no verbal y verbal mediante categorías semánticas básicas</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/discriminacion auditiva 2709.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 3 -->
            <div class="card">
                <img src="/assets/uso.jpg" alt="Efecto sobre el uso de pantallas en menores">
                <div class="card-content">
                    <h2>Efecto sobre el uso de pantallas en menores</h2>
                    <p> infografía sobre los efectos del uso prolongado de pantallas en menores con pauta de recomendación según edad</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/efectos del uso temprano de pantallas.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 4 -->
            <div class="card">
                <img src="/assets/helados.jpg" alt="Helado con letra P">
                <div class="card-content">
                    <h2>Helado con letra P</h2>
                    <p>Actividad lúdica con objetos con fonema P en sílaba inicial, media y final</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/helados con letra p.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 5 -->
            <div class="card">
                <img src="/assets/estimulacion.jpg" alt="Estimulación temprana">
                <div class="card-content">
                    <h2>Estimulación temprana</h2>
                    <p>infografía sobre estimulación temprana sus beneficios y estimulación en casa</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/Infografia.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 6 -->
            <div class="card">
                <img src="/assets/letra a.jpg" alt="Aprendiendo la letra A">
                <div class="card-content">
                    <h2>Aprendiendo la letra A</h2>
                    <p>juego de identificación de la vocal “A” en donde el menor debe identificar y discriminar objetos que no pertenecen a dicha vocal en posición inicial</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/letra A.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 7 -->
            <div class="card">
                <img src="/assets/pesca.jpg" alt="Pescaditos de la feria con fonema /rr/">
                <div class="card-content">
                    <h2>Pescaditos de la feria con fonema /rr/ </h2>
                    <p>juego lúdico para reforzar la producción del fonema /rr/ en posición inicial , media y final</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/Pescatidos de feria bb.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 8 -->
            <div class="card">
                <img src="/assets/puerta.jpg" alt="Puertas misteriosas breve">
                <div class="card-content">
                    <h2>Puertas misteriosas</h2>
                    <p>Actividad lúdica en power point de fonema r en posición inicial, medial y final a través de juego léxico-semántico</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/Puertas misteriosas breve.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>

            <!-- Tarjeta 9 -->
            <div class="card">
                <img src="/assets/toy.jpg" alt="Toy story silábico">
                <div class="card-content">
                    <h2>Toy story silábico</h2>
                    <p>actividad lúdica en power point para trabajar identificación de letras, conciencia fonemica,números</p>
                    <div class="button-container">
                        <button onclick="downloadFile('../pdfs/toy store actividad.pdf')">Descargar PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="/js/informativo.js"></script>
</body>
</html>
