<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/maria.css">
    <title>Perfil de Psicólogas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Encabezado -->
    <header>
        <div class="content">
            <div class="menu container">
                <a href="index.html" class="logo">
                    <label for="menu">
                        <img src="/assets/logo.png" class="menu-icono" height="60">
                    </label>
                </a>
                <nav class="navbar">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/recomendaciones">Recomendaciones</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <li><a href="/contactanos">Contacto</a></li>
                        <li><a href="/iniciarsesion">Inicia Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="cards-container">
        <!-- Perfil de María Fernanda Lorca -->
        <div class="profile-container">
            <div class="profile-header">
                <img src="/assets/foto1.jpg" alt="Maria " class="profile-pic">
                <div class="profile-info">
                    <h1>María Fernanda Lorca Órdenes</h1>
                    <p class="university">Universidad de las Americas</p>
                    <p class="specialty">Fonoaudióloga</p>
                </div>
            </div>
            <div class="profile-description">
                <p>Hola, soy María Fernanda Lorca, fonoaudióloga especializada en el desarrollo del lenguaje y la comunicación en niños y adolescentes. Mi enfoque profesional se centra en ayudar a cada niño a superar las barreras que limitan su capacidad de expresión y comprensión, brindando un espacio de acompañamiento y aprendizaje adaptado a sus necesidades específicas. Cuento con amplia experiencia en el tratamiento de infantes con trastorno del espectro autista (TEA) y trastornos del lenguaje, lo cual me ha permitido desarrollar habilidades y estrategias efectivas para mejorar la comunicación en mis pacientes.</p>
                <p>Para complementar mi práctica, he adquirido una sólida formación a través de cursos y talleres que amplían y actualizan mis conocimientos. Entre ellos se destacan:</p>
                <ul>
                    <li>Curso de Otoscopia y Lavado de Oídos (marzo 2022, Otec INCAPNOVA LTDA).</li>
                    <li>Curso sobre el Abordaje de la Disartria a lo Largo del Ciclo Vital (septiembre 2023, Otec INCAPNOVA LTDA).</li>
                    <li>Curso "Instrumento de Diagnóstico para los Trastornos Específicos del Lenguaje en Edad Escolar (IDTEL)" (marzo 2024, Escuela de Fonoaudiología de la Universidad de Valparaíso).</li>
                    <li>Curso sobre la Detección Temprana y Herramientas para la Evaluación e Intervención en TEA (marzo 2024, Fonomed).</li>
                    <li>Curso Abordaje Integral en Trastorno del Desarrollo del Lenguaje (TDL) (febrero 2024, Fonomed).</li>
                    <li>Curso sobre Estimulación del Lenguaje en Niños de 0 a 3 Años (mayo 2024, Instituto San Andrés).</li>
                    <li>Curso Rol del Fonoaudiólogo en Proyectos de Integración Escolar (PIE) (abril 2024, Otec INCAPNOVA LTDA).</li>
                    <li>Guía de Diagnóstico y Apoyos Tempranos en el Espectro Autista (julio 2024, Senadis).</li>
                    <li>Curso de Comunicación Aumentativa y Alternativa (CAA) en Autismo (julio 2024, ADIPA).</li>
                    <li>Curso sobre Habilidades Comunicativas a través del Sistema de Comunicación por Intercambio de Imágenes (octubre 2024, ADIPA).</li>
                    <li>Curso Abordaje Integral del Trastorno del Espectro Autista (agosto 2024, Instituto San Andrés).</li>
                    <li>Taller Práctico: Elaboración de Informe Fonoaudiológico en el Contexto Infantojuvenil (septiembre 2024, Fonomed).</li>
                </ul>
            </div>
            <a href="../Pages/nosotros.html" class="back-button">← Regresar</a>
        </div>
    </div>
</body>
</html>
